.top_block {
  background: url(../img/bgexam.png);
}

.top_block .middle_section {
  color: #B378FF;
  padding-top: 20%;
  font-weight: 900;
}

.top_block .middle_section span {
  font-size: 36px;
  text-transform: uppercase;
}

.top_block .middle_section h2 {
  font-size: 28px;
}
