/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover {
	text-decoration: none;
}


/* end reset*/


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-2px, -2px) rotate(10deg); }
    20% { transform: translate(1px, 1px) rotate(20deg); }
    30% { transform: translate(-2px, -2px) rotate(-20deg); }
    40% { transform: translate(1px, 1px) rotate(-10deg); }
    50% { transform: translate(-2px, -2px) rotate(0deg); }
    60% { transform: translate(1px, 1px) rotate(10deg); }
    70% { transform: translate(-2px, -2px) rotate(20deg); }
    80% { transform: translate(1px, 1px) rotate(-20deg); }
    90% { transform: translate(-2px, -2px) rotate(-10deg); }
    100% { transform: translate(1px, 1px) rotate(20deg); }
}

.top_block {
	height: 800px;
	background: silver;

	.menu {
	display:flex;	
	height: 60px;
	width: 100%;
	background: #080807;
	color: #D9EF34;
	font-weight: 900;
		
		.logo {
			height: 140px;
			width: 145px;			
			border-radius: 50%;	
			background: #111;
			border: 3px solid #FFFB1E;
			padding: 5px;	
			position:relative;
			

			.circle-transparent {
				height: 80px;
				width: 80px;				
				z-index: 100;
				position:absolute;	
				top:20%;
				left: 20%;
				cursor: pointer;
				
			}
			.img-circle {
				height: 130px;
				width: 130px;
				position: relative;
				transition: 1s;
				z-index: 21;				

				&:hover {
					transform: rotate(360deg);
				}

			}

			.menu-circle {				
				position:relative;				
				top: 15px;
				left: 15px;
				position: absolute;
				display: block;
				width: 100px;
				height: 100px;
				background-color: transparent;
				border-radius: 50%;
				z-index: 20;			
				box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
				cursor: pointer;




				.menu-item1,.menu-item2,.menu-item3 {
	
				  width: 60%;	
				  height: 60%;			
				  background-color: #111;		
				  border-radius: 50%;
				  position: absolute;
				  color: white;
				  text-align: center;
				  line-height: 70px;
				  top: 25%;
				  left: 25%;
				  z-index: 19;						  	
				  position: absolute;
				  color: #FFFB1E;
				  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .1s;

				
				  &:hover, &:hover a {
				  	color:#32FFB0;
				  	transition: all .5s				  	
				  }
		
				}

				.menu-item2 {
					transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .3s;
				}

				.menu-item3 {
					transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
				}


			}

		}

		.nav_menu {
			padding: 20px;
			width: 260px;
			display: flex;
			justify-content: space-between;
			position:relative;			


			.myname {
				font-weight: 900;
				display: none;
			}
			.clickMe {
				font-weight: 900;
				display: none;
			}
			.books {
				font-weight: 900;
				display: none;
			}
			.writeme {
				font-weight: 900;
				display: none;
			}
			 .myjobs {
			 	text-transform: uppercase;
			 }
			&:hover {
				border: 5px solid #fff;
				padding-top: 15px;

				.nav_menu_active {
					margin:-5px 0 0 -5px;
				}
			}

			.btn_menu {
				position: relative;				
			    display: block;
			    width: 20px;
			    height: 25px;
			    background: #111;
			    margin-top: -10px;	



			    &:hover {   
					animation: shake 0.7s; 
					animation-iteration-count: infinite; 
				
				    	.no_active span {
				    		background:#32FFB0;


				    		&:before {			    		
				    			background:#32FFB0;
				    			


				    		}
				    		 &:after {
				    			background: #32FFB0;
				    			
				    			
				    		 }

				    	}   	

			    }		    
			    


			    .no_active {

					span {					
					     	display: block;
						    height: 2px;
						    width: 18px;
						    background: #D9EF34;
						    position: absolute;
						    left: 50%;
						    margin-left: -9px;
						    top: 50%;
						    margin-top: -1px;	
						    transition: 3s;		

					    &:before {
					    	content: "";
						    height: 2px;
						    width: 18px;
						    background: #D9EF34;
						    position: absolute;			    
						    margin-top: 5px;
						    transition: 2s;					    

					    }	
					    &:after {
					    	content: "";
						    height: 2px;
						    width: 18px;
						    background: #D9EF34;
						    position: absolute;			    
						    margin-top: 10px;
						    transition: 2s;						   	
					    }	    
					}

				}

				.active {					


					span {					
					     	display: block;
						    height: 2px;
						    width: 18px;
						    background: #111;
						    position: absolute;
						    left: 50%;
						    margin-left: -9px;
						    top: 50%;
						    margin-top: -1px;	


					    &:before {
					    	content: "";
						    height: 2px;
						    width: 18px;
						    background: red;
						    position: absolute;			    
						    margin-top: 5px;	
						    transform: rotate(135deg);	
						    transition: 3s;			    

					    }	
					    &:after {
					    	content: "";
						    height: 2px;
						    width: 18px;
						    background: red;
						    position: absolute;			    
						    margin-top: 6px;
						    transform: rotate(-135deg);	
						    transition: 3s;					   	
					    }	    
					}

				}

			}

			.nav_menu_active {
				background: url(../img/bg1.png);
				
				width: 405px;
				position: absolute;
				left: -145px;
				top: 60px;
				display: none;

				&:hover {
					border: none;
					margin: -5px;
				}

				li {
					padding: 20px;

					a {
						color: #FFFF00;
						padding: 10px;
						border-bottom: 1px solid #3e4145;

						&:hover {
							border-bottom: 2px solid #D9EF34;
						}
					}
				}
			}
		}
		
		.topnav {			
			background-color: #111;
    		overflow: hidden;

    		a {
			    float: left;
			    display: block;
			    color: #D9EF34;
			    text-align: center;
			    padding: 20px 30px;
			    text-decoration: none;
			    font-size: 17px;
			    border-right: 1px  solid #3e4145;
			    border-bottom: 5px solid #D9EF34; 

			    &:hover {
   					 background-color: #FFFF00;
   			 		 color: black;  
   			 		 border-bottom: 5px solid #B378FF;; 			 		 
				}
			}
			.active {
				background-color: #B378FF;
    			color: white;
				}
			
		}
	}

}