.top_block {
	height: 100%;
	width: 100%;
	background: #030A16;
	color: #B378FF;


	.nav_menu_active.text-center {
	z-index:2;
	}

	.main_content {	
		z-index:1;
		padding-top: 75px;
		
		h2 {
			width:160px;
			margin: 20px 0;						
			font-size: 22px;
			font-weight: 900;
			text-transform: uppercase;
		}	

		.content_container {
  			position: relative; 			
 			width: 666px;
 			height: 500px; 			
 			overflow: hidden; 
 			background: #C1DCE4; 						

  			.content {
  				width: 100%;
			  	text-transform: uppercase;
				color: #111;
				font-weight: 900;
			 	position: absolute;
				top: 0;
				left: 0;				
				z-index: 1;
				

				h3 {

					font-size: 22px;
					color: #003441;
					text-align: center;
					padding: 25px 0;

				}

				.answer {
					padding-left: 40px;	

					li {
						color: #379735;
						position: relative;
						margin-bottom: 10px;

						&:before {
							content: "";
							position: absolute;
							left:-24px;
							top:0;
							height: 16px;
							width: 18px;
							background: url(../img/sprite.png) -53px -29px;	
						}				
																							
					}		
					
				}

			}

			.cisco {
			 	position: absolute;
				top: 0;
				left: 0;
				width: 666px;
			 	height: 500px;
			 	z-index: 2;

			 	img {
				 	width: 666px;
				  	height: 500px;
				}
			}
		}

		.download_files {
			color: #B378FF;
			font-weight:900;
			text-transform: uppercase;
			padding-top: 35px;

			h3 {
				padding-top: 26px;
			}

			a {
				color: #D9EF34;
			}

			ul {
				padding-top: 15px;

				li {
					padding:10px 0;
					position: relative;
					padding-left: 25px;

						&:nth-child(1):before {
							content: "";
							position: absolute;
							left: -20px;
							top: 7px;
							height: 24px;
							width: 24px;
							background: url(../img/sprite.png) -3px -2px;	
						}	
							&:nth-child(2):before {
							content: "";
							position: absolute;
							left: -18px;
							top: 7px;
							height: 22px;
							width: 20px;
							background: url(../img/sprite.png) -32px -3px;	
						}

							&:nth-child(3):before {
							content: "";
							position: absolute;
							left: -18px;
							top: 7px;
							height: 22px;
							width: 21px;
							background: url(../img/sprite.png) -55px -3px;	
						}	

							&:nth-child(4):before {
							content: "";
							position: absolute;
							left: -18px;
							top: 7px;
							height: 22px;
							width: 21px;
							background: url(../img/sprite.png) -82px -3px;	
						}			
					
					span {
						color: #D9EF34;
					}
				}
			}

		}

		.ico_block {
			padding-top: 60px;


			li {
				margin-bottom: 10px;			
				height: 30px;
				width: 26px;	


				&:nth-child(1) {
					background: url(../img/sprite.png) -3px -48px;
				}
				&:nth-child(2) {
					background: url(../img/sprite.png) -34px -48px;
				}
				&:nth-child(3) {
					height: 30px;
					width: 30px;	
					background: url(../img/sprite.png) -96px -48px;
				}
				&:nth-child(4) {
					height: 40px;
					width: 33px;
					background: url(../img/sprite.png) -225px -83px;
				}
			
				&:nth-child(5) {
					height: 28px;
					width: 126px;
					background: url(../img/sprite.png) 0 -87px;
				}
				&:nth-child(6) {
					height: 33px;
					width: 40px;
					background: url(../img/sprite.png) -165px -45px;
				}
				&:nth-child(7) {
					height: 40px;
					width: 20px;
					background: url(../img/sprite.png) -165px -78px;
				}
				&:nth-child(8) {
					height: 32px;
					width: 30px;
					background: url(../img/sprite.png) -190px -83px;
				}
				&:nth-child(9) {
					height: 29px;
					width: 30px;
					background: url(../img/sprite.png) -243px -49px;
				}
			
			}
			
		}

			.booksRead {
				width: 100%;
				transform: rotate(-90deg);
				margin: 180px 0 0 -20px;				
				font-size: 24px;
				text-transform: uppercase;

				a {
					color: #994900;		
					transition: 2s;		
				}

				&:before {					
					content: "";
					position: absolute;
					left:-75px;
					top: 10px;
					height: 41px;
					width: 49px;
					background: url(../img/sprite.png) -162px -124px;						
				}

				&:hover {

					a {
						color: #FAC472;	
					}

					&:before {					
						content: "";
						position: absolute;
						left:-175px;
						top: 10px;	
						height: 50px;
						width: 154px;
						background: url(../img/sprite.png) 0 -120px;		
					}
				}
			}


	}

			.font_container {
	  			position: relative; 			
	 			width: 600px;
	 			height: 600px; 			
	 			overflow: hidden; 
	 			background: #00214B; 
	 			margin-bottom: 60px;
	 									

  			.content {
  				width: 100%;
			  	text-transform: uppercase;
				color: #111;
				font-weight: 900;
			 	position: absolute;
				top: 0;
				left: 0;				
				z-index: 1;
				

				h3 {
					font-size: 22px;
					color: #4BCCC0;
					text-align: center;
					padding: 25px 0;

				}

				.answer {
					padding: 20px 0 0 40px;	

					h2 {
						color: #4BCCC0;
						width:100%;
						
					}			


					li {
						color: #379735;
						position: relative;
						margin:0 0 10px 25px;

						
						span {
						color: #C3D93B;
						}	

						&:before {
							content: "";
							position: absolute;
							left:-55px;
							top:0;
							height: 15px;
							width: 45px;
							background: url(../img/sprite.png) -3px -30px;		
						}				
																							
					}		
					
				}

			}

			.front {
			 	position: absolute;
				top: 0;
				left: 0;
				width: 600px;
			 	height: 250px;
			 	z-index: 2;

			 	img {
				 	width: 600px;
				  	height: 250px;				  	
				}
			}


			.back {
			 	position: absolute;
				bottom: 0;
				left: 0;
				width: 600px;
			 	height: 350px;
			 	z-index: 2;

			 	img {
				 	width: 600px;
				  	height: 350px;
				}
			}
		}



			.tester_container {
	  			position: relative; 			
	 			width: 100%;
	 			height: 450px;	
	 			overflow: hidden; 
	 			background: #142C3B; 
	 			margin-bottom: 60px;
	 									

  			.content {
  				width: 100%;
			  	text-transform: uppercase;
				color: #111;
				font-weight: 900;
			 	position: absolute;
				top: 0;
				left: 0;				
				z-index: 1;

				
				p {
					color: #00B2E7 ;
					line-height: 24px;

					span {
						color: #B92C2D;
					}
				}
				

			

				.answer {
					padding: 40px 0 0 0;	
					padding-left: 52%;					


					li {
						color: #00BDA3;
						position: relative;
						margin:0 0 10px 25px;

						
						span {
						color: #C3D93B;
						}							
																							
					}		
					
				}


				.devtext {
					font-size: 18px;
					margin-top: -170px;
				}

			}

			.test {
			 	position: absolute;
				top: 0;
				left: 0;
				width: 600px;
			 	height: 450px;
			 	z-index: 2;

			 	img {
				 	width: 525px;
				  	height: 450px;				  	
				}
			}


			.dev {
			 	position: absolute;
				top:0;
				right: 0;
				width: 520px;
			 	height: 450px;
			 	z-index: 2;

			 	img {
				 	width: 600px;
				  	height: 450px;
				}
			}
		}
	

}	