.top_block {
	background: url(../img/bgexam.png);

	.middle_section {
		color: #B378FF;
		padding-top: 20%;
		font-weight: 900;

		span {	
			font-size: 36px;			
			text-transform:uppercase;
		}
		h2 {
			font-size: 28px;
		}

	}
}