/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover {
	text-decoration: none;
}


/* end reset*/

$color-Lime: #D9EF34;

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-2px, -2px) rotate(10deg); }
    20% { transform: translate(1px, 1px) rotate(20deg); }
    30% { transform: translate(-2px, -2px) rotate(-20deg); }
    40% { transform: translate(1px, 1px) rotate(-10deg); }
    50% { transform: translate(-2px, -2px) rotate(0deg); }
    60% { transform: translate(1px, 1px) rotate(10deg); }
    70% { transform: translate(-2px, -2px) rotate(20deg); }
    80% { transform: translate(1px, 1px) rotate(-20deg); }
    90% { transform: translate(-2px, -2px) rotate(-10deg); }
    100% { transform: translate(1px, 1px) rotate(20deg); }
}

@keyframes shadow {
from {text-shadow: 0 0 3px #FFFB1E;}
50% {text-shadow: 0 0 30px #FFFB1E;}
to {text-shadow: 0 0 3px #FFFB1E;}
}

@keyframes move {
from {bottom: 10%;}
50% {bottom: 16%;}
to {bottom: 10%;}
}

@keyframes move_right {
from {padding-left: 0px;}
50% {padding-left: 100px;}
to {padding-left: 0px;}
}



.top_block {
	position: relative;
	height: 100vh;
	width: 100%;	
	background: url(../img/bg0.png) no-repeat center fixed;	
	background-size: cover;		
  	

  	.menu2_scroll {  		
  		position:fixed;
  		top: -60px;
  		z-index: 10; 

		@extend	.menu;	

		.btn_menu_scroll {
			@extend .btn_menu;

		}

		.nav_menu_active_scroll {
			@extend .nav_menu_active;


		}

		.topnav.topnav_scroll {
			background: url(../img/transparent-hash.png);			
		}
	}

	.menu {
	display:flex;	
	height: 60px;
	width: 100%;
	background: #080807;
	color: #D9EF34;
	font-weight: 900;

		
		.logo {
			height: 140px;
			width: 145px;			
			border-radius: 50%;	
			background: #111;
			border: 3px solid #FFFB1E;
			padding: 5px;	
			position:relative;
			

			.circle-transparent {
				height: 80px;
				width: 80px;				
				z-index: 100;
				position:absolute;	
				top:20%;
				left: 20%;
				cursor: pointer;
				
			}
			.img-circle {
				height: 130px;
				width: 130px;
				position: relative;
				transition: 1s;
				z-index: 21;				

				&:hover {
					transform: rotate(360deg);
				}

			}

			.menu-circle {				
				position:relative;				
				top: 15px;
				left: 15px;
				position: absolute;
				display: block;
				width: 100px;
				height: 100px;
				background-color: transparent;
				border-radius: 50%;
				z-index: 20;			
				box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
				cursor: pointer;




				.menu-item1,.menu-item2,.menu-item3 {
	
				  width: 60%;	
				  height: 60%;			
				  background-color: #111;		
				  border-radius: 50%;
				  position: absolute;
				  color: white;
				  text-align: center;
				  line-height: 70px;
				  top: 25%;
				  left: 25%;
				  z-index: 19;						  	
				  position: absolute;
				  color: #FFFB1E;
				  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .1s;

				
				  &:hover, &:hover a {
				  	color:#32FFB0;
				  	transition: all .5s				  	
				  }
		
				}

				.menu-item2 {
					transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .3s;
				}

				.menu-item3 {
					transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
				}


			}

		}

		.nav_menu {
			padding: 20px;
			width: 260px;
			display: flex;
			justify-content: space-between;
			position:relative;			


			.myname {
				font-weight: 900;
				display: none;
			}
			.clickMe {
				font-weight: 900;
				display: none;
			}
			.books {
				font-weight: 900;
				display: none;
			}
			.writeme {
				font-weight: 900;
				display: none;
			}
			 .myjobs {
			 	text-transform: uppercase;
			 }
			&:hover {
				border: 5px solid #fff;
				padding-top: 15px;

				.nav_menu_active {
					margin:-5px 0 0 -5px;
				}
			}

			.btn_menu {
				position: relative;				
			    display: block;
			    width: 20px;
			    height: 25px;
			    background: #111;
			    margin-top: -10px;	



			    &:hover {   
					animation: shake 0.7s; 
					animation-iteration-count: infinite; 
				
				    	.no_active span {
				    		background:#32FFB0;


				    		&:before {			    		
				    			background:#32FFB0;
				    			


				    		}
				    		 &:after {
				    			background: #32FFB0;
				    			
				    			
				    		 }

				    	}   	

			    }		    
			    


			    .no_active {

					span {					
					     	display: block;
						    height: 2px;
						    width: 18px;
						    background: #D9EF34;
						    position: absolute;
						    left: 50%;
						    margin-left: -9px;
						    top: 50%;
						    margin-top: -1px;	
						    transition: 3s;		

					    &:before {
					    	content: "";
						    height: 2px;
						    width: 18px;
						    background: #D9EF34;
						    position: absolute;			    
						    margin-top: 5px;
						    transition: 2s;					    

					    }	
					    &:after {
					    	content: "";
						    height: 2px;
						    width: 18px;
						    background: #D9EF34;
						    position: absolute;			    
						    margin-top: 10px;
						    transition: 2s;						   	
					    }	    
					}

				}

				.active {					


					span {					
					     	display: block;
						    height: 2px;
						    width: 18px;
						    background: #111;
						    position: absolute;
						    left: 50%;
						    margin-left: -9px;
						    top: 50%;
						    margin-top: -1px;	


					    &:before {
					    	content: "";
						    height: 2px;
						    width: 18px;
						    background: red;
						    position: absolute;			    
						    margin-top: 5px;	
						    transform: rotate(135deg);	
						    transition: 3s;			    

					    }	
					    &:after {
					    	content: "";
						    height: 2px;
						    width: 18px;
						    background: red;
						    position: absolute;			    
						    margin-top: 6px;
						    transform: rotate(-135deg);	
						    transition: 3s;					   	
					    }	    
					}

				}

			}

			.nav_menu_active {
				background: url(../img/bg1.png);
				
				width: 405px;
				position: absolute;
				left: -145px;
				top: 60px;
				display: none;

				&:hover {
					border: none;
					margin: -5px;
				}

				li {
					padding: 20px;

					a {
						color: #FFFF00;
						padding: 10px;
						border-bottom: 1px solid #3e4145;

						&:hover {
							border-bottom: 2px solid #D9EF34;
						}
					}
				}
			}
		}
		
		.topnav {			
			background-color: #111;
    		overflow: hidden;


    		a {
			    float: left;
			    display: block;
			    color: #D9EF34;
			    text-align: center;
			    padding: 20px 30px;
			    text-decoration: none;
			    font-size: 17px;
			    border-right: 1px  solid #3e4145;
			    border-bottom: 5px solid #D9EF34; 

			    &:hover {
   					 background-color: #FFFF00;
   			 		 color: black;  
   			 		 border-bottom: 5px solid #B378FF;; 			 		 
				}
			}
			.active {
				background-color: #B378FF;
    			color: white;
				}
			
		}

		.menu .topnav.topnav_scroll {
			background:red;
			margin-top: 150px;
			position:fixed;


		}
	}

	.block-header {
		position: absolute;
		top: 40%;
		left: 39%;

		span {		
			color: #D9EF34;
			font-weight: 900;
			font-size: 42px;	
			letter-spacing: 3px;					
		}
		h2 {
			color: #FFF;
			font-size: 30px;
			padding-top: 30px;
			line-height: 38px;
		}
	}

	.btn_arow_down {
		position: absolute;
		bottom: 10%;
		left: 52%;
		color: #D9EF34;
		animation: shadow  2s infinite ease-in-out, move 2s infinite ease-in-out;

	}
	
}
	

.center_block {
		min-height: 600px;
		width: 100%;
		background: #030A16;
		color: #FFF;

		.top_text {

			h2 {
			
			margin:80px 0 120px 0;
			font-size: 42px;
			font-weight: 900;
			color: #D9EF34;			
			text-shadow: 2px 2px 20px yellow;
			letter-spacing: 15px;
			

			}	
		}

		.circle_border {
			position: relative;
			height: 180px;
			width: 180px;
			border-radius: 50%;
			border: solid 5px #644A8C;
			

			&:hover:before {
				position:absolute;
				content: "";
				top: -29px;
				left: -29px;
				height: 220px;
				width: 220px;
				border-radius: 50%;
				border: 5px solid #644A8C;

			}

			&:hover{
				
				border-radius: 50%;
				border: solid 10px #D9EF34;				

			.fa-html5 {
				color:red;				
			}
			.fa-desktop {
				color: #3C64F7;
			}

			.fa-users {
				color: #009800;
			}

			}

			.fa {
				position:absolute;
				top: 25%;
				left: 23%;
				bottom: 25%;
				color: silver;

				&.fa-html5 {
					left: 30%;					
				}


			}		
			
		}		

		.text-center {
						
			font-size: 24px;
			color: silver;
			line-height: 32px;


			&.text {
				margin: 50px 50px 80px 70px;
			}
		}
}

.middle_block {		
		height: 700px;
		width: 100%;
		background: #030A16;
		color: #FFCE25;
		font-weight: 900;	
		


		.content_block {		
			height:  600px;
			width: 100%;
			background: url(../img/bg2.png) no-repeat;	

			.text-center {
				font-size: 32px;			
				text-shadow: 3px 3px 20px #4BCCC0;
	   			letter-spacing: 5px;
	   			padding: 60px 0 0 150px;

			}
			h3 {
				font-size: 20px;
				line-height: 24px;
			}
			.text_content {
				width: 300px;
				padding: 0 0 0 0px;
				float: right;
				text-align: center;
				padding: 170px 0 0 8px;

			}

			.text_content2 {
				width: 350px;
				float: left;
				padding: 265px 0 0 160px;
			}
			
		}
}

.science_block {
		min-height: 500px;
		width: 100%;
		background: url(../img/cartographer.png) center fixed;		   
   		background-size: cover;

			.block_left {
				margin: 60px 0;
				position: relative;
				height: 500px;

				h2 {
					text-transform: uppercase;
					font-weight: 900;
					font-size: 26px;
					margin-top: 20px;
					color: #4BCCC0;
					text-shadow: 3px 3px 20px #00C0DB;
					text-align: center;
				}
				p {
					margin-top: 40px;
					font-size: 20px;
					color: #FFBA00;
					line-height: 28px;
				}
				.fa {
					padding-top: 20px;
					color: #D9EF34;
					animation: move_right 2s infinite ease-in-out, shadow 2s infinite ease-in-out;;
				}
				.down {
					position: absolute;
					bottom: 0;
					color:#FF9670;		
				}
				
			}
			.block_right {
				margin: 60px 0 0;
				height:600px;
				width: 100%;
				background: url(../img/iphone.png) no-repeat;

				.content {
					width:  233px;
					padding-left: 20px;

					h2 {
						color: #4BCCC0;
						text-shadow: 3px 3px 20px #00C0DB;
						padding:90px 0 25px 7px;
						font-size: 20px;

						&:hover {
							color: #32ACD5;
							text-shadow: 3px 3px 10px #002FEF;
						}
					}

					li {
						position:relative;
						padding: 0 0 12px 40px;
						font-size: 20px;
						color:#D9EF34;
						

						a  {
							color: #FFBA00;	

							&:hover {
								color:#FF5C22;
							}				
						}					

						&:before {
							height: 10px;
							width: 10px;
							content:"";
							position: absolute;
							top: 6px;
							left: 15px;
							background: #111;
							border-radius: 50%;

						}

							&:hover:before {
								background: #1CA61C;

							}
						

					}
					.down {
							color:#FF9670;
							padding: 23px 0 0 30px;
						}

				}


			}

		
}

.people_think {
	height: 650px;
	width:100%;
	background: url(../img/black_scales.png) center fixed;
   	

	h2 {
		margin: 60px 0 70px 0;
		color: #B378FF;
		font-size: 32px;
		text-transform: capitalize;
		font-weight: 900;
		text-shadow: 1px 2px 20px #59135F;

	}
	
	.slider-container {
	    width: 100%;
	    display: flex;
	    flex-wrap: wrap;

		    &:hover .fa-angle-left.slick-arrow,&:hover .fa-angle-right.slick-arrow, {
				opacity: 1 !important;
			}

	}

		.slider-media { 
		    width: 40%;

		    img {
		    	width: 450px;
		    	height:350px;
		    	border-radius: 20px;
		    }
		}

		.slider-text {
		    width: 40%;
		    margin-left: 10%;
		}

		.slider-media > .slick-slider {
		    margin-bottom: 0;
		}

		.carousel-images > .slick-list {
		    padding: 0 !important;
		}

		.carousel-images > .slick-list > .slick-slide {
		    width: 350px !important;
		}
		.carousel-text {		    
		    position:relative;
		}
		.carousel-text .title {
		    color: #1DAC0E;
		    padding-top: 50px;
		    font-size: 32px;		    
		    font-weight: 600;
		    text-transform: capitalize;
		    text-align: center;
		}
		.carousel-text .headline {
			padding-top: 30px;
		    color: #999;
		    font-size: 20px;
		    line-height: 26px;
		   
		}

		.carousel-text .fa-angle-left.slick-arrow {
			position: absolute;
			top: 145px;
			left: -132%;
			color:#D9EF34;
			opacity: 0;
			transition: 3s;
				
		}
		.carousel-text .fa-angle-right.slick-arrow {
			position: absolute;
			top: 145px;
			color:#D9EF34;
			right: -28%;
			opacity: 0;
			transition: 3s;
		}

		.lime {
			color: $color-Lime;
		}

		
}

